body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.table thead th {
  vertical-align: middle;
}
.table th, .table td {
  vertical-align: middle;
}
tr .btn-group {
  visibility: hidden;
}
tr:hover .btn-group {
  visibility: visible;
}

tr input {
  display: none;
  margin: 0;
  width: 80px;
}
tr.editable span {
  display: none;
}
tr.editable input {
  display: inline;
}

tr a.btn.btn-group {
  display: inline;
}
tr a.btn.btn-success {
  display: none;
}

tr.editable a.btn.btn-success {
  display: inline;
}
tr.editable .btn-group,
tr.editable:hover .btn-group {
  display: none;
}


.modal {
  display: none;
}
#modal-add-batch.modal {
  margin-top: -400px;
  max-height: 750px;
  width: 800px;
  margin: -400px 0 0 -380px;
}

#modal-add-batch textarea {
  width: 100%;
  height: 35px;
}
#modal-add-batch table {
  width: 100%;
}

#add.btn-group {
  margin: 10px 0px;
}

textarea#batch {
  width: 500px;
  height: 300px;
}

/* table#main.searching tr {*/
/*   display: none;*/
/* }*/
/* table#main.searching tr.matching {*/
/*   display: block;*/
/* }*/
