@import "../assets/less/bootstrap.less";

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.modal { display: none; }

#add.btn-group {
  margin: 10px 0px;
}

table.expenses {
  width: 750px;

  th, td {
    vertical-align: middle;
  }
  tr {
    .btn-group { visibility: hidden; }
    &:hover .btn-group { visibility: visible; }

    input[type="text"] {
      margin: 0;
      // width: 80px;
      width: 100%;
    }
    td[rel="select"],
    th[rel="select"] {
      padding: 0px;

      label {
        cursor: pointer;
        display: inline;
        padding: 10px;
      }
      input {
        display: inline;
      }
    }

    // State: normal or .editable
    span { display: inline; }
    input[type="text"] { display: none; }

    a.btn.btn-group { display: inline; }
    a.btn-save { display: none; }

    &.editable {
      span { display: none; }
      input[type="text"] { display: inline; }

      a.btn-save { display: inline; }
      .btn-group { display: none; }
      &:hover .btn-group { display: none; }
    }

    // Column widths
    @wSelect: 20px;
    @wDate: 40px;
    @wLabel: 230px;
    @wAmount: 50px;
    @wCategory: 60px;
    @wWho: 40px;

    td[rel="select"],
    th[rel="select"] {
      span, input { width: @wSelect; }
    }
    td[rel="date"] {
      span, input {
        width: @wDate;
      }
    }
    td[rel="label"] {
      span, input {
        width: @wLabel;
      }
    }
    td[rel="amount"] {
      span, input {
        width: @wAmount;
      }
    }
    td[rel="category"] {
      span, input {
        width: @wCategory;
      }
    }
    td[rel="who"] {
      span, input {
        width: @wWho;
      }
    }
  }
}

#search {
  input {
    z-index: 1;
  }

  .add-on {
    // FIXME: WTF? Twitter Bootstrap bug or misuse, didn't happen in v2.0.1
    margin-top: -8px;
    margin-left: -5px;
  }

  #search-all { display: none; }
  &.active #search-all { display: inline-block; }

  .add-on.normal { display: inline-block; }
  &.active .add-on.normal { display: none; }
  .add-on.cancel { display: none; }
  &.active .add-on.cancel { display: inline-block; }

  .cancel { display: none; }
  &.active .cancel {
    // This is ugly as fuck, make better styling.
    cursor: pointer;
    i {
      opacity: 0.5;
    }
    &:hover i { opacity: 0.4; }
  }
  a { margin: 0px 5px; }
}

#pagination {
  cursor: pointer;
  .clearfix();
  margin: 10px 0px;

  &:hover {
  }
  p, a {
    display: block;
    float: left;
    line-height: 30px;
    margin: 0px 10px;
  }
  .progress {
    width: 250px;
    float: left;
    height: 30px;
    .bar {
      background-color: #0E90D2;
      height: 30px;
      .transition(none);
    }
  }
  #no-more { display: none; }
  &.no-more {
    .progress .bar {
      background-color: #CCC;
    }
    #more { display: none; }
    #no-more { display: block; }
  }
}

#modal-add-batch.modal {
  margin-top: -400px;
  max-height: 750px;
  width: 800px;
  margin: -400px 0 0 -380px;

  textarea {
    width: 100%;
    height: 35px;
  }
  table {
    width: 100%;
  }
}


#edit-all.well {
  display: none;
  // padding: 8px 19px;
  position: fixed;
  bottom: -22px;
  /* background-color: #f5f5f5;*/
  border: 1px solid #aaa;
  height: 130px;
  width: 750px;

  h2 { float: left; }
  .btn-remove-all { float: right; }
  input {
    display: inline;
  }

  & > .btn {
    float: right;
    margin: 5px;
  }
}
